
<div class="logmod">
  <div class="logmod__wrapper">
    <div class="logmod__container">
      <ul class="logmod__tabs">
        <li data-tabtar="lgm-1"><a href="<%= new_user_path %>">Sign Up</a></li>
        <li data-tabtar="lgm-2"><a href="<%= new_session_path %>">Login</a></li>
      </ul>
      <div class="logmod__tab-wrapper">
      <div class="logmod__tab lgm-1">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
        </div>
        <div class="logmod__form">
          <%= form_for @user, class: "simform" do |f| %>
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Nickname*</label>
                <%= f.text_field :nickname, class: "string optional", maxlength: "255", id: "user-email", placeholder: "Nickname", type: "string", size: "50" %>
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">Password *</label>
                <%= f.password_field :password, class: "string optional", maxlength: "255", id: "user-pw", placeholder: "Password", type: "text", size: "50"  %>
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                <%= f.password_field :password_confirmation, class: "string optional", maxlength: "255", id: "user-pw-repeat", placeholder: "Repeat password", type: "text", size: "50" %>
              </div>
            </div>
            <div class="simform__actions">
              <%= f.submit 'SIGNUP' %>
            </div> 
          <% end %>
        </div> 
      </div>
      

  
      
      
      
      </div>
    </div>
  </div>
</div>






<script>

var LoginModalController = {
    tabsElementName: ".logmod__tabs li",
    tabElementName: ".logmod__tab",
    inputElementsName: ".logmod__form .input",
    hidePasswordName: ".hide-password",
    
    inputElements: null,
    tabsElement: null,
    tabElement: null,
    hidePassword: null,
    
    activeTab: null,
    tabSelection: 0, // 0 - first, 1 - second
    
    findElements: function () {
        var base = this;
        
        base.tabsElement = $(base.tabsElementName);
        base.tabElement = $(base.tabElementName);
        base.inputElements = $(base.inputElementsName);
        base.hidePassword = $(base.hidePasswordName);
        
        return base;
    },
    
    setState: function (state) {
    	var base = this,
            elem = null;
        
        if (!state) {
            state = 0;
        }
        
        if (base.tabsElement) {
        	elem = $(base.tabsElement[state]);
            elem.addClass("current");
            $("." + elem.attr("data-tabtar")).addClass("show");
        }
  
        return base;
    },
    
    getActiveTab: function () {
        var base = this;
        
        base.tabsElement.each(function (i, el) {
           if ($(el).hasClass("current")) {
               base.activeTab = $(el);
           }
        });
        
        return base;
    },
   
    addClickEvents: function () {
    	var base = this;
        
        base.hidePassword.on("click", function (e) {
            var $this = $(this),
                $pwInput = $this.prev("input");
            
            if ($pwInput.attr("type") == "password") {
                $pwInput.attr("type", "text");
                $this.text("Hide");
            } else {
                $pwInput.attr("type", "password");
                $this.text("Show");
            }
        });
 
        // base.tabsElement.on("click", function (e) {
        //     var targetTab = $(this).attr("data-tabtar");
            
        //     e.preventDefault();
        //     base.activeTab.removeClass("current");
        //     base.activeTab = $(this);
        //     base.activeTab.addClass("current");
            
        //     base.tabElement.each(function (i, el) {
        //         el = $(el);
        //         el.removeClass("show");
        //         if (el.hasClass(targetTab)) {
        //             el.addClass("show");
        //         }
        //     });
        // });
        
        base.inputElements.find("label").on("click", function (e) {
           var $this = $(this),
               $input = $this.next("input");
            
            $input.focus();
        });
        
        return base;
    },
    
    initialize: function () {
        var base = this;
        
        base.findElements().setState().getActiveTab().addClickEvents();
    }
};

$(document).ready(function() {
    LoginModalController.initialize();
});
  
  
  
  
  
</script>
